<h1 class="text-center">Find this Spot</h1>

<p class="text-center">
  Your location is (<%= @location.latitude %>, <%= @location.longitude %>).
</p>

<%= button_tag "Start", id: 'watch' %>

<div id="message">

</div>

<%= button_tag "Stop", class: "hidden", id: "kill-tracker" %>

<!-- so JS can grab the information -->
<div class="hidden" id="latitude">
  <%= @location.latitude %>
</div>
<div class="hidden" id="longitude">
  <%= @location.longitude %>
</div>
